{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.5/account/usage?period=invalid_period","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["570200b1ac7d5dc30b13e67c17d1c31b"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["100000"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3600"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6InBlcmlvZCBpcyBpbnZhbGlkOyB2YWxpZCB2YWx1ZXMgYXJl\nOiBob3VybHksZGFpbHksbW9udGhseSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:16:02 GMT"}],"recorded_with":"VCR 3.0.3"}