{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/account/identity/1e40a74894482c245ec4854bdcb0970e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["e55f6c633ae9fbaea552140ebf4d1950"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["996175"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["639"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:21:38 GMT"}],"recorded_with":"VCR 3.0.3"}