{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/account/identity/aff8e8ab3c33cecf5608cf8516d3dacb","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["34e82fe9890133521f3170ee32489d9a"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["996115"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["637"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:21:40 GMT"}],"recorded_with":"VCR 3.0.3"}