{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/account/identity/d8736f6677019e05b11293adf442778b/limit","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["f048983887ece8e3faee6b1a6d8fd846"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["996035"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["636"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6bnVsbCwic2VydmljZSI6ImxpbmtlZGluIiwidG90YWxfYWxsb3dh\nbmNlIjpudWxsLCJhbmFseXplX3F1ZXJpZXMiOjUwfQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:21:42 GMT"}],"recorded_with":"VCR 3.0.3"}