{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/account/identity/aff8e8ab3c33cecf5608cf8516d3dacb/limit/linkedin","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["35fa1cbc80144314c952e8d6fdd18f23"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["996090"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["637"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlNlcnZpY2UgbGlua2VkaW4gbm90IHJlY29nbml6ZWQifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:21:40 GMT"}],"recorded_with":"VCR 3.0.3"}