{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/account/identity/25a100829edc3508568a7059d42066b5/limit/linkedin","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["4c7bc8f3492a4436ab16ba07b2cd8ff2"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["996290"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["734"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlNlcnZpY2UgbGlua2VkaW4gbm90IHJlY29nbml6ZWQifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:20:03 GMT"}],"recorded_with":"VCR 3.0.3"}