{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/account/identity/INVALID_IDENTITY_ID/limit/linkedin","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["0f85ca965405eae2d8169db1b4bcd0a0"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["996065"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["636"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6ImlkZW50aXR5X2lkIG11c3QgYmUgYSB2YWxpZCBoYXNoIn0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:21:41 GMT"}],"recorded_with":"VCR 3.0.3"}