{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1.6/account/identity/1e40a74894482c245ec4854bdcb0970e/limit/linkedin","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["bc3e88c3b0f2524050f063397d0b5fdc"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["996180"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["640"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6bnVsbCwic2VydmljZSI6ImxpbmtlZGluIiwidG90YWxfYWxsb3dh\nbmNlIjpudWxsLCJhbmFseXplX3F1ZXJpZXMiOjEwMH0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:21:38 GMT"}],"recorded_with":"VCR 3.0.3"}