{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.5/source/delete?id=32bee1912e7744e4bf7d8c13deb875c8","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["fc9e20b3f4958b0be5203dd99e90aa31"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98730"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3197"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlNvdXJjZSBpbnN0YW5jZSBub3QgZm91bmQifQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:22:45 GMT"}],"recorded_with":"VCR 3.0.3"}