{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.5/source/delete?id=32bee1912e7744e4bf7d8c13deb875c8","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["f80ded02d3a1953072b87c0277842a51"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98760"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3197"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:22:45 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.5/source/get?id=32bee1912e7744e4bf7d8c13deb875c8&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["77f4d261a48ba20f86372b915558bc69"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98755"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3197"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkNvdWxkIG5vdCBmaW5kIHRoZSBzcGVjaWZpZWQgc291cmNl\nIGluc3RhbmNlIFwiMzJiZWUxOTEyZTc3NDRlNGJmN2Q4YzEzZGViODc1Yzhc\nIiJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:22:45 GMT"}],"recorded_with":"VCR 3.0.3"}