{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["a35770301964075b8c2483465bd61ea3"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99424"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495198256"], "X-Ratelimit-Reset-Ttl":["3329"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxMTo1NToyNyIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 11:55:27 GMT"}],"recorded_with":"VCR 3.0.3"}