{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["e2a39436d4df6e46d89e2cfb0fc5ee80"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99469"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495198256"], "X-Ratelimit-Reset-Ttl":["3333"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 11:55:23 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["215638b08cdbc4db64868d607cab0017"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99464"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495198256"], "X-Ratelimit-Reset-Ttl":["3333"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 11:55:24 GMT"}],"recorded_with":"VCR 3.0.3"}