{"http_interactions":[{"request":{"method":"get","uri":"http://api.datasift.com/v1/pylon/get?hash=abc_invalid_filter_123","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["choult:eed85f6b316fb18930ee28e8754f4963"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99175"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlN1YnNjcmlwdGlvbiBub3QgZm91bmQifQ==\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 16:07:12 GMT"}],"recorded_with":"VCR 2.9.3"}