{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.4/pull?cursor=&id=c6e011e298bd3a584458fe312a59a65b&size=52428800","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Cursor-Current":["303230bd41b2b7f0e44a0aeb6f0d9d3c"], "X-Datasift-Format":["json_new_line"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Wed, 17 May 2017 14:18:58 GMT"}],"recorded_with":"VCR 2.9.3"}