{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["397b3e35a8120f0ab0d7f15e37782ee2"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999242"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3376"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAxMTozNjowMSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:36:01 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["7b0639ac9428c87c0298690682d03c24"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999217"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3372"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjFjNTVkNjZhZDg5ZTBmOTVjNWE2NWJhOWNiOGFiMDRlNzExOTVk\nMGYiLCJjcmVhdGVkX2F0IjoxNTE2MTAyNTY1fQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:36:05 GMT"}],"recorded_with":"VCR 3.0.3"}