{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["ad014767941393f76b38e280fd9a4dc9"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["96876"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2093"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAyMTo0NjozMCIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:46:30 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["ba9c9df7290eac437a564dae4df16f80"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["96851"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2092"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU2NThmOTdmZGRhYzExMDMwYTEzYjJiZDU0NzYzNzBlNzRjMWM0\nNTkiLCJjcmVhdGVkX2F0IjoxNTE2MTM5MTkyfQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:46:31 GMT"}],"recorded_with":"VCR 3.0.3"}