{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["8a5c559de73317fe36aebdc90547e445"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99106"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3530"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAyMToyMjozMyIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:22:34 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["612afcbb995523a858bbec71e23c0bce"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99081"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3529"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU1NTUwZjFiMDU1MGMwOTdhYzJjN2M5ZTBiMmUwNDZmYzdjMmJi\nN2EiLCJjcmVhdGVkX2F0IjoxNTE2MTM3NzU1fQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:22:34 GMT"}],"recorded_with":"VCR 3.0.3"}