{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["6ad409d34c924c6d0410f1850b4cf382"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["998480"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3152"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjY4ODEyZDhlNjYzMmU5M2JjYTFmM2I4MjIxZDQ3Zjk1YTJhZjdh\nZTkiLCJjcmVhdGVkX2F0IjoxNTE2MTAyNzg1fQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:39:45 GMT"}],"recorded_with":"VCR 3.0.3"}