{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["48e070ddb8fca011cad687141b65aa5d"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99111"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3531"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImY5YmQxOWFkMzhiY2EzMDUwZGMzZWZkZGQ3NDY4OTBjZjFlYmVi\nN2EiLCJjcmVhdGVkX2F0IjoxNTE2MTM3NzUzfQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:22:33 GMT"}],"recorded_with":"VCR 3.0.3"}