{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/pull?cursor=&id=b4613154218173faec531c41a3cb8291&size=52428800","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Cursor-Current":["66d0df615de5ff7b7fecb805553d3e81"], "X-Datasift-Format":["json_new_line"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:46:38 GMT"}],"recorded_with":"VCR 3.0.3"}