{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/pull?cursor=&id=1c6d708186444bc7155e0bcfeec49b0e&size=52428800","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Cursor-Current":["98039600795ff3525c227937833da55e"], "X-Datasift-Format":["json_new_line"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:41:30 GMT"}],"recorded_with":"VCR 3.0.3"}