{"http_interactions":[{"request":{"method":"post","uri":"https://in.datasift.com/a822f7e65a284c23b9a1a6dc010e843d","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Ingestion-Data-Ratelimit-Reset":["60"], "X-Ingestion-Request-Ratelimit-Limit":["10000"], "X-Ingestion-Request-Ratelimit-Reset":["2"], "X-Ingestion-Data-Ratelimit-Remaining":["299972755"], "X-Ingestion-Request-Ratelimit-Reset-Ttl":["1495201075"], "X-Ingestion-Data-Ratelimit-Reset-Ttl":["1495201133"], "X-Ingestion-Data-Ratelimit-Limit":["300000001"], "X-Ingestion-Request-Ratelimit-Remaining":["9994"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJhY2NlcHRlZCI6MTAsInRvdGFsX21lc3NhZ2VfYnl0ZXMiOjI3MjQ2fQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:37:53 GMT"}],"recorded_with":"VCR 3.0.3"}