{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/historics/delete?id=ac0c7d5e28413d70b23a","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["28a7341d7baec15174696a07fd1cff9b"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99900"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3583"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljcyBmb3VuZCB3aXRoIHRoZSBJRCBhYzBj\nN2Q1ZTI4NDEzZDcwYjIzYSAifQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 14:59:03 GMT"}],"recorded_with":"VCR 3.0.3"}