{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["426fcf46a4707b07a762b948e21140f5"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99432"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3519"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxNTowMDowNiIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:00:07 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["d7b421fe40df732a2747e5edebb84c4d"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99407"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3519"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImE3Y2VkNWRlNzRhZjU1NTdlZWMzIiwiZHB1cyI6bnVsbCwiYXZh\naWxhYmlsaXR5Ijp7InN0YXJ0IjoxNDc3OTU4NDAwLCJlbmQiOjE0NzgwNDQ4\nMDAsInNvdXJjZXMiOltdfX0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:00:20 GMT"}],"recorded_with":"VCR 3.0.3"}