{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["86cf2207137c19c8c6dc5c3c61d6d133"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["100000"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3600"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxNDo1ODo0NSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 14:58:47 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["b98ea9de71a386bf1fbdb0021b50b5c1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99975"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3599"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImFjMGM3ZDVlMjg0MTNkNzBiMjNhIiwiZHB1cyI6bnVsbCwiYXZh\naWxhYmlsaXR5Ijp7InN0YXJ0IjoxNDc3OTU4NDAwLCJlbmQiOjE0NzgwNDQ4\nMDAsInNvdXJjZXMiOltdfX0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 14:59:01 GMT"}],"recorded_with":"VCR 3.0.3"}