{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/historics/stop","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["7716acc5a4f7612172221ffc53f020c3"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99835"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3578"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 19 May 2017 14:59:08 GMT"}],"recorded_with":"VCR 3.0.3"}