{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1.4/historics/resume","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["52a4bd57ceaeb20b789247490c0b5642"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99689"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3563"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 19 May 2017 14:59:23 GMT"}],"recorded_with":"VCR 3.0.3"}