{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/historics/delete?id=ac0c7d5e28413d70b23a","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["849c7c8ae52bde3bf22f12524f0d2726"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99950"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3585"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 19 May 2017 14:59:01 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.4/historics/get?id=ac0c7d5e28413d70b23a&with_estimate=1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["aa41cf7369967b03df0d117410d5b41e"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99925"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3584"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljIGZvdW5kIHdpdGggdGhlIElEIGFjMGM3\nZDVlMjg0MTNkNzBiMjNhICJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 14:59:02 GMT"}],"recorded_with":"VCR 3.0.3"}