{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/source/delete?id=fc696318a3ff40b3a81ec289981cb907","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["813645afb10e15eca237c911cba690cb"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["95810"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["1539"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlNvdXJjZSBpbnN0YW5jZSBub3QgZm91bmQifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:55:44 GMT"}],"recorded_with":"VCR 3.0.3"}