{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/source/delete?id=bcf313c08efa459dbdb9646d773558ae","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["832389a70cbd327c5788d343e63e19c2"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["997848"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3018"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlNvdXJjZSBpbnN0YW5jZSBub3QgZm91bmQifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:41:59 GMT"}],"recorded_with":"VCR 3.0.3"}