{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/source/delete?id=8b6cebaea2114ed984b18f1fa309e850","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["51c42ea9d0e6f8c595c5f11bc4479e78"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98220"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3083"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlNvdXJjZSBpbnN0YW5jZSBub3QgZm91bmQifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:30:00 GMT"}],"recorded_with":"VCR 3.0.3"}