{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/source/log","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["7228a00836148deb923bc6f383faa115"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["997953"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3036"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJjb3VudCI6MCwicGFnZSI6MSwicGFnZXMiOjAsInBlcl9wYWdlIjoyMCwi\nbG9nX2VudHJpZXMiOltdfQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:41:41 GMT"}],"recorded_with":"VCR 3.0.3"}