{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/source/log","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["99badb69a15ff0cbb9b77b37f6199767"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["95610"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["1527"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJjb3VudCI6MCwicGFnZSI6MSwicGFnZXMiOjAsInBlcl9wYWdlIjoyMCwi\nbG9nX2VudHJpZXMiOltdfQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:55:56 GMT"}],"recorded_with":"VCR 3.0.3"}