{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/source/delete?id=8b6cebaea2114ed984b18f1fa309e850","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["1144335c18c7d291e160d4a125344cbb"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98250"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3084"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:29:59 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/source/get?id=8b6cebaea2114ed984b18f1fa309e850&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["f461d493f898bb7f1a78816ace2a2385"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98245"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3083"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkNvdWxkIG5vdCBmaW5kIHRoZSBzcGVjaWZpZWQgc291cmNl\nIGluc3RhbmNlIFwiOGI2Y2ViYWVhMjExNGVkOTg0YjE4ZjFmYTMwOWU4NTBc\nIiJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:30:00 GMT"}],"recorded_with":"VCR 3.0.3"}