{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/source/delete?id=bcf313c08efa459dbdb9646d773558ae","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["3696d69afc7b2cdcc411c7c4038a79a0"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["997878"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3024"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:41:53 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/source/get?id=bcf313c08efa459dbdb9646d773558ae&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["f12b7ba87221d0823cfee13afe09b86b"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["997873"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3021"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkNvdWxkIG5vdCBmaW5kIHRoZSBzcGVjaWZpZWQgc291cmNl\nIGluc3RhbmNlIFwiYmNmMzEzYzA4ZWZhNDU5ZGJkYjk2NDZkNzczNTU4YWVc\nIiJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:41:56 GMT"}],"recorded_with":"VCR 3.0.3"}