{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/source/delete?id=fc696318a3ff40b3a81ec289981cb907","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["0cef645623788cdcb0483476b85e1426"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["95840"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["1540"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:55:43 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/source/get?id=fc696318a3ff40b3a81ec289981cb907&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["d5beeb7b25e210193de2791e597ee032"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["95835"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["1540"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkNvdWxkIG5vdCBmaW5kIHRoZSBzcGVjaWZpZWQgc291cmNl\nIGluc3RhbmNlIFwiZmM2OTYzMThhM2ZmNDBiM2E4MWVjMjg5OTgxY2I5MDdc\nIiJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:55:43 GMT"}],"recorded_with":"VCR 3.0.3"}