{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.2/source/delete?id=42170e1910344b36824ef77a2b0ca34c","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9975"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1439571300"], "X-Ratelimit-Reset-Ttl":["3600"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 14 Aug 2015 15:55:00 GMT"}],"recorded_with":"VCR 2.9.3"}