{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["3706f7e0287f24b41729e743ad7e8b65"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["96699"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2056"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:47:07 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["cc3e9c5ecd125bbc526da91ccc7354de"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["96694"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2055"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:47:08 GMT"}],"recorded_with":"VCR 3.0.3"}