{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/push/get?all=false&hash=145ea24a4d83a14ecb9077b831f14809&include_finished=0&order_by=created_at&order_dir=desc&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["903c0ac281ded7dadf323b09bb625cd1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["96625"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWJzY3JpcHRpb25zIjpbXSwiY291bnQiOjB9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:48:03 GMT"}],"recorded_with":"VCR 3.0.3"}