{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["8836fd9af1b1eb9bb2c447b25e591aca"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["997029"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["1857"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:01:20 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["55bdf21d7150dfefaef624e81b149ce1"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["997024"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["1856"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:01:22 GMT"}],"recorded_with":"VCR 3.0.3"}