{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/historics/delete?id=a1e5f1b18b48195eb1a4","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["da6875f7a993097d04a68f29ff7d56cd"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99599"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3567"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljcyBmb3VuZCB3aXRoIHRoZSBJRCBhMWU1\nZjFiMThiNDgxOTVlYjFhNCAifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:21:56 GMT"}],"recorded_with":"VCR 3.0.3"}