{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/historics/delete?id=acf0b06b20d5c287083b","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["bb1920efcce6fd4f483728afc0c67484"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97288"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2136"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljcyBmb3VuZCB3aXRoIHRoZSBJRCBhY2Yw\nYjA2YjIwZDVjMjg3MDgzYiAifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:45:47 GMT"}],"recorded_with":"VCR 3.0.3"}