{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/historics/delete?id=b5c68106fe650878b1cd","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["190a6c742ad570085a2e193342e84d41"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999594"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3518"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljcyBmb3VuZCB3aXRoIHRoZSBJRCBiNWM2\nODEwNmZlNjUwODc4YjFjZCAifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:33:39 GMT"}],"recorded_with":"VCR 3.0.3"}