{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["4c837f21493e1a88b847a39e7b8acd19"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["998475"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3147"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAxMTozOTo0OSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:39:50 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["a2fb97c02e35a0e09ce912a3c13e2872"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["998450"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3143"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjY0NzllNjM1YzViMzNmNGZhOGJkIiwiZHB1cyI6bnVsbH0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:39:53 GMT"}],"recorded_with":"VCR 3.0.3"}