{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["c06864107f734171a5e84aeda5dafe1a"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97148"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2130"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAyMTo0NTo1MyIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:45:54 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["f3c88db8ee3910c333b2c68c69dcb38f"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97123"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2129"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImZhNDVlZWUwMzgxOWY3NTUyZWVmIiwiZHB1cyI6bnVsbH0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:45:54 GMT"}],"recorded_with":"VCR 3.0.3"}