{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["bf57a90cbd180a4738d4c250453d8887"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99508"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3561"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAyMToyMjowMiIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:22:02 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["8913be5c0fce14ea51033d3f5dcb193a"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99483"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3560"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjYzMTJkZjI4YzM0ZThmYzVhZDg1IiwiZHB1cyI6bnVsbH0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:22:03 GMT"}],"recorded_with":"VCR 3.0.3"}