{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1.6/historics/pause","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["2d1189a071e40d8ef27d327cc1e64fd4"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["998330"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3117"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:40:29 GMT"}],"recorded_with":"VCR 3.0.3"}