{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/historics/delete?id=acf0b06b20d5c287083b","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["6b0513609df7a048a4aa717eb8bc879a"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97338"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2138"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:45:45 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/historics/get?id=acf0b06b20d5c287083b&with_estimate=1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["db74753d881807eb02a0613b6a9f2a07"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97313"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2137"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljIGZvdW5kIHdpdGggdGhlIElEIGFjZjBi\nMDZiMjBkNWMyODcwODNiICJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:45:46 GMT"}],"recorded_with":"VCR 3.0.3"}