{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/historics/delete?id=b5c68106fe650878b1cd","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["32c9ee597f961dea4c68d9cebc90a2d1"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999644"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3520"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:33:37 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/historics/get?id=b5c68106fe650878b1cd&with_estimate=1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["e1264164c57d8bffbef0e921e8a3a448"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999619"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3519"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljIGZvdW5kIHdpdGggdGhlIElEIGI1YzY4\nMTA2ZmU2NTA4NzhiMWNkICJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:33:38 GMT"}],"recorded_with":"VCR 3.0.3"}