{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["a6998218da4c6fabeaff6e4578b7bee4"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999132"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3352"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAxMTozNjoyNSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:36:26 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["f6263518f0ea2a2e8c948799b99b30ab"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999107"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3348"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjM2MzMyMjc4NDBmZTcxNGJiZDEyIiwiZHB1cyI6bnVsbH0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:36:30 GMT"}],"recorded_with":"VCR 3.0.3"}