{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["33b931d2f71b75fb6f8fd1403e974fe5"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99980"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3595"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAyMToyMToyOCIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:21:28 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["a5b280653eba7e06cf82835c9e2bc6b6"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99955"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3594"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjQ2Y2UyZGUxODY5MTE5MTQwNTA3IiwiZHB1cyI6bnVsbH0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:21:29 GMT"}],"recorded_with":"VCR 3.0.3"}