{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["85e5966d16981489a399104a59c99b95"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97645"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2184"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAyMTo0NDo1OSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:44:59 GMT"}],"recorded_with":"VCR 3.0.3"}