{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["302dee28ee0ff19f87399c34af965a8d"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999102"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3344"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJkcHUiOm51bGwsImRldGFpbCI6e319\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:36:32 GMT"}],"recorded_with":"VCR 3.0.3"}