{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["29b7675341b6cbc35f297dc0e8bacb04"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97675"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["2190"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJjcmVhdGVkX2F0IjoiMjAxOC0wMS0xNiAyMTo0NDo1MyIsImRwdSI6IjAu\nMSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:44:53 GMT"}],"recorded_with":"VCR 3.0.3"}