{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/account/identity/48ef7bd1c6e1466bb3e69ad2692bc2b2","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["5b22d2c8efa4047ea051cf4a2939a614"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99850"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3408"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:19:14 GMT"},{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/account/identity/e5adddac68c7c1c11b2aba856fb3c251","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["6e52751c7a07160d98d7f1e7d5476e27"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99835"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3407"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:19:15 GMT"}],"recorded_with":"VCR 3.0.3"}