{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/account/identity/efc51f659060cd1fda08c79e9bb43b64","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["b145d05839250e5f3515584a52c947e7"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99860"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3408"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:19:14 GMT"}],"recorded_with":"VCR 3.0.3"}