{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/account/identity/e7acb0439f5ba6b9f678f77f157cdf15","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["d3c941abe2856987ca1c425eea36c7fd"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49520"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3564"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:28 GMT"}],"recorded_with":"VCR 3.0.3"}