{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/account/identity/da7f0c10adcd29dc8a99774d36cecdc4","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["8dc85139fa9bb9d67dd01a50601d8514"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49375"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3556"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:36 GMT"}],"recorded_with":"VCR 3.0.3"}