{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/account/identity/cf0c3efe2682a9e9d6ad33c344128f5c","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["5d00c6bc2bf9fbefd22b431b12e20cbe"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49460"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3560"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:32 GMT"}],"recorded_with":"VCR 3.0.3"}