{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/account/identity/cf0c3efe2682a9e9d6ad33c344128f5c/limit","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["297d3ca5b1c33ab940d323483bcc49d6"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49435"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3560"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6InNlcnZpY2UgaXMgaW52YWxpZDsgdmFsaWQgdmFsdWVzIGFy\nZTogZmFjZWJvb2ssbGlua2VkaW4ifQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:32 GMT"}],"recorded_with":"VCR 3.0.3"}