{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/account/identity/cf0c3efe2682a9e9d6ad33c344128f5c/limit","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["8cc18789164eb088dedb5c8488e2d813"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49465"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3562"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImNmMGMzZWZlMjY4MmE5ZTlkNmFkMzNjMzQ0MTI4ZjVjIiwic2Vy\ndmljZSI6ImZhY2Vib29rIiwidG90YWxfYWxsb3dhbmNlIjoxMDAwMDAsImFu\nYWx5emVfcXVlcmllcyI6NTB9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:32 GMT"}],"recorded_with":"VCR 3.0.3"}