{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.4/account/identity/INVALID_IDENTITY_ID/limit/facebook","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["43241f1a00381ccde3510cd4b2dcd600"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49640"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3570"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6ImlkZW50aXR5X2lkIG11c3QgYmUgYSB2YWxpZCBoYXNoIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:22 GMT"}],"recorded_with":"VCR 3.0.3"}