{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1.4/account/identity/unknown_identity_id/limit/facebook","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["5de9e00478e5df67e8364e059f0d18ec"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49555"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3566"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6ImlkZW50aXR5X2lkIG11c3QgYmUgYSB2YWxpZCBoYXNoIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:26 GMT"}],"recorded_with":"VCR 3.0.3"}