{"http_interactions":[{"request":{"method":"post","uri":"https://in.datasift.com/390ad395404742bdbd962e818bc0767a","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Ingestion-Data-Ratelimit-Reset":["60"], "X-Ingestion-Request-Ratelimit-Limit":["10000"], "X-Ingestion-Request-Ratelimit-Reset":["3"], "X-Ingestion-Data-Ratelimit-Remaining":["9972754"], "X-Ingestion-Request-Ratelimit-Reset-Ttl":["1447326130"], "X-Ingestion-Data-Ratelimit-Reset-Ttl":["1447326187"], "X-Ingestion-Data-Ratelimit-Limit":["10000000"], "X-Ingestion-Request-Ratelimit-Remaining":["9998"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJhY2NlcHRlZCI6MTAsInRvdGFsX21lc3NhZ2VfYnl0ZXMiOjI3MjQ2fQ==\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 11:02:07 GMT"}],"recorded_with":"VCR 2.9.3"}