{"http_interactions":[{"request":{"method":"post","uri":"https://in.datasift.com/3446d92fd7274adeaf8b27f4e99f3b60","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Ingestion-Data-Ratelimit-Reset":["60"], "X-Ingestion-Request-Ratelimit-Limit":["10000"], "X-Ingestion-Request-Ratelimit-Reset":["60"], "X-Ingestion-Data-Ratelimit-Remaining":["36836754"], "X-Ingestion-Request-Ratelimit-Reset-Ttl":["1439580536"], "X-Ingestion-Data-Ratelimit-Reset-Ttl":["1439580536"], "X-Ingestion-Data-Ratelimit-Limit":["36864000"], "X-Ingestion-Request-Ratelimit-Remaining":["9999"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJhY2NlcHRlZCI6MTAsInRvdGFsX21lc3NhZ2VfYnl0ZXMiOjI3MjQ2fQ==\n"},"http_version":null},"recorded_at":"Fri, 14 Aug 2015 19:27:56 GMT"}],"recorded_with":"VCR 2.9.3"}