{"http_interactions":[{"request":{"method":"post","uri":"https://in.datasift.com/invalid_source_id","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Ingestion-Data-Ratelimit-Reset":["0"], "X-Ingestion-Request-Ratelimit-Limit":["10000"], "X-Ingestion-Request-Ratelimit-Reset":["60"], "X-Ingestion-Data-Ratelimit-Remaining":["36864000"], "X-Ingestion-Request-Ratelimit-Reset-Ttl":["1439580312"], "X-Ingestion-Data-Ratelimit-Reset-Ttl":["1439580252"], "X-Ingestion-Data-Ratelimit-Limit":["36864000"], "X-Ingestion-Request-Ratelimit-Remaining":["9999"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJlcnJvciI6IlVua25vd24gdXNlciBzb3VyY2UifQ==\n"},"http_version":null},"recorded_at":"Fri, 14 Aug 2015 19:24:12 GMT"}],"recorded_with":"VCR 2.9.3"}