{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.1/push/delete?id=2fe7eb95ff26ce994dc27c99c8c4fad8","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9008"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1983"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:34 GMT"},{"request":{"method":"delete","uri":"https://api.datasift.com/v1.2/push/delete?id=e8173852644b9acc4e96a2bd91e3fa0d","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9462"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1435765382"], "X-Ratelimit-Reset-Ttl":["345"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Wed, 01 Jul 2015 15:37:18 GMT"}],"recorded_with":"VCR 2.9.3"}