{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.1/push/delete?id=ddc8c157f616aee3aaa1cfe7066bceff","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8939"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1978"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:39 GMT"}],"recorded_with":"VCR 2.9.3"}