{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.1/push/delete?id=b6ee7c5a00f1f8c49acabac4dde320dd","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8900"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1971"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:47 GMT"},{"request":{"method":"delete","uri":"https://api.datasift.com/v1.2/push/delete?id=814be4b0af12123647df907807c0f75f","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9413"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1435765382"], "X-Ratelimit-Reset-Ttl":["340"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Wed, 01 Jul 2015 15:37:24 GMT"}],"recorded_with":"VCR 2.9.3"}