{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1/push/delete?id=a35e214910e9bdc65bc231d647095c19","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":null},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8970"], "X-Ratelimit-Cost":["1"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 13:16:43 GMT"}],"recorded_with":"VCR 2.9.3"}