{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.2/push/log?id=06e34d5fb2159de8571f409de50e2978&order_by=request_time&order_dir=desc&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9344"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["2975"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjb3VudCI6MCwibG9nX2VudHJpZXMiOltdfQ==\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 11:04:48 GMT"}],"recorded_with":"VCR 2.9.3"}