{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.1/push/log?id=f34551a6d685f8f356af010a09a833e3&order_by=request_time&order_dir=desc&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8838"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1966"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjb3VudCI6MCwibG9nX2VudHJpZXMiOltdfQ==\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:51 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.2/push/log?id=a60cfa6cf10af7dcb9a091f4bec6f779&order_by=request_time&order_dir=desc&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9438"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1435765382"], "X-Ratelimit-Reset-Ttl":["342"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjb3VudCI6MCwibG9nX2VudHJpZXMiOltdfQ==\n"},"http_version":null},"recorded_at":"Wed, 01 Jul 2015 15:37:21 GMT"}],"recorded_with":"VCR 2.9.3"}