{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8854"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1968"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:49 GMT"},[...]
{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9512"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1435765382"], "X-Ratelimit-Reset-Ttl":["352"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Wed, 01 Jul 2015 15:37:11 GMT"}],"recorded_with":"VCR 2.9.3"}