{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1/push/log?id=a35e214910e9bdc65bc231d647095c19&order_by=request_time&order_dir=desc&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8971"], "X-Ratelimit-Cost":["1"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjb3VudCI6MCwibG9nX2VudHJpZXMiOltdfQ==\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 13:16:43 GMT"}],"recorded_with":"VCR 2.9.3"}