{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9360"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["2978"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 11:04:46 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9355"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["2977"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 11:04:46 GMT"}],"recorded_with":"VCR 2.9.3"}