{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.1/account/identity/INVALID_IDENTITY_ID/token/facebook","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9840"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431684488"], "X-Ratelimit-Reset-Ttl":["3595"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6ImlkZW50aXR5X2lkIG11c3QgYmUgYSB2YWxpZCBoYXNoIn0=\n"},"http_version":null},"recorded_at":"Fri, 15 May 2015 09:08:14 GMT"}],"recorded_with":"VCR 2.9.3"}