{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["34c19c15b995d2df3150f9b55a7c0de2"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99190"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495198256"], "X-Ratelimit-Reset-Ttl":["3286"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 11:56:10 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/push/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["8508ffa0c0f3be17f07d827fbe88972e"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99185"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495198256"], "X-Ratelimit-Reset-Ttl":["3285"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJtZXNzYWdlIjoiVmFsaWRhdGVkIHN1Y2Nlc3Nm\ndWxseSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 11:56:11 GMT"}],"recorded_with":"VCR 3.0.3"}