{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.5/push/get?all=false&hash=145ea24a4d83a14ecb9077b831f14809&include_finished=0&order_by=created_at&order_dir=desc&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["3b93c5cca78394b5f0eb47847890fc34"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99206"], "X-Ratelimit-Cost":["1"], "X-Ratelimit-Reset":["1495198256"], "X-Ratelimit-Reset-Ttl":["3287"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWJzY3JpcHRpb25zIjpbXSwiY291bnQiOjB9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 11:56:09 GMT"}],"recorded_with":"VCR 3.0.3"}