{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1/account/identity/b9646788547eaafe9963911c2ecd0143","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9995"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431535329"], "X-Ratelimit-Reset-Ttl":["3600"]},"body":{"encoding":"UTF-8","base64_string":"IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5IHVuYXZhaWxh\nYmxlIg==\n"},"http_version":null},"recorded_at":"Wed, 13 May 2015 15:42:10 GMT"},{"request":{"method":"delete","uri":"https://api.datasift.com/v1/account/identity/","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":405,"message":"Method Not Allowed"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik1ldGhvZCBERUxFVEUgbm90IGFsbG93ZWQgZm9yIHRoaXMg\nZW5kcG9pbnQifQ==\n"},"http_version":null},"recorded_at":"Wed, 13 May 2015 15:42:10 GMT"},{"request":{"method":"delete","uri":"https://api.datasift.com/v1.1/account/identity/","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":405,"message":"Method Not Allowed"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik1ldGhvZCBERUxFVEUgbm90IGFsbG93ZWQgZm9yIHRoaXMg\nZW5kcG9pbnQifQ==\n"},"http_version":null},"recorded_at":"Fri, 15 May 2015 09:08:09 GMT"}],"recorded_with":"VCR 2.9.3"}