{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1.1/account/identity/fake_id","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9715"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431684488"], "X-Ratelimit-Reset-Ttl":["3592"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IklkZW50aXR5IG5vdCBmb3VuZCJ9\n"},"http_version":null},"recorded_at":"Fri, 15 May 2015 09:08:17 GMT"}],"recorded_with":"VCR 2.9.3"}