{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["cb2b2a4a8d583959d707f3f900e80f56"], "X-Ratelimit-Limit":["40000"], "X-Ratelimit-Remaining":["40000"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495463737"], "X-Ratelimit-Reset-Ttl":["3600"], "X-Analysis-Tasks-Queued":["1"], "X-Analysis-Tasks-Queue-Limit":["1000"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjVkMzdiYTVjYzViZDc1Zjk4MzI4ZGNlNzE1NGVmNTYxMGI3YmQ2\nZTYifQ==\n"},"http_version":null},"recorded_at":"Mon, 22 May 2017 13:35:37 GMT"}],"recorded_with":"VCR 3.0.3"}