{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["2f36f60eb1bc509ab5eb3adede50dbba"], "X-Ratelimit-Limit":["40000"], "X-Ratelimit-Remaining":["39975"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495463737"], "X-Ratelimit-Reset-Ttl":["3599"], "X-Strategy-Tasks-Queued":["1"], "X-Strategy-Tasks-Queue-Limit":["200"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImEyNTJhOTc0NTQ2ZjU4Mjk5ODEyN2U5MGQ0ODA2N2JjOGQ3NDJj\nNTcifQ==\n"},"http_version":null},"recorded_at":"Mon, 22 May 2017 13:35:39 GMT"}],"recorded_with":"VCR 3.0.3"}