{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.5/account/identity/a846bfdb32c5c3a5305fd7453f61ef95","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["d5f9faee2326e2b19c7d00b1519d3046"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49810"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3592"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:21:00 GMT"}],"recorded_with":"VCR 3.0.3"}