{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.5/account/identity/66ffc332bad6590a8052852bd5c55275","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["414665f3dceeb2f86c9a4c4a5b9f9245"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49945"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203652"], "X-Ratelimit-Reset-Ttl":["3596"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:20:56 GMT"}],"recorded_with":"VCR 3.0.3"}