{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["605e5c82a5f93ed0691dda69177727e7"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49925"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516108315"], "X-Ratelimit-Reset-Ttl":["3542"], "X-Analysis-Tasks-Queued":["1"], "X-Analysis-Tasks-Queue-Limit":["15000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6Ijk0OGJlNWY0YzcwM2I5ZWE3YTA3NTU4ZWEzYzViMTA3MDUxZWFk\nZDgifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:12:55 GMT"}],"recorded_with":"VCR 3.0.3"}