{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["9dda764f1500922800d3feb1c3d202d7"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49875"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516108315"], "X-Ratelimit-Reset-Ttl":["3534"], "X-Strategy-Tasks-Queued":["1"], "X-Strategy-Tasks-Queue-Limit":["15000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjE5MGEwZDI3NmNjYzg4YjRhY2ViN2E5NzM0ZGVkOWMxYWY0ZTRh\nYTIifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:13:03 GMT"}],"recorded_with":"VCR 3.0.3"}