{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["aa6a0240399cfdf6a23bf2fd69e48e97"], "X-Ratelimit-Limit":["40000"], "X-Ratelimit-Remaining":["39800"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516142244"], "X-Ratelimit-Reset-Ttl":["2389"], "X-Strategy-Tasks-Queued":["1"], "X-Strategy-Tasks-Queue-Limit":["1000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjEyZjc3ZTE5NGMzMWY5NjE1ZGJiNjM5MGE0MmNlMTk1MDQzY2Qy\nYjEifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:57:36 GMT"}],"recorded_with":"VCR 3.0.3"}