{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["1af997aa5a6c2afa691429fec4478d6c"], "X-Ratelimit-Limit":["40000"], "X-Ratelimit-Remaining":["39900"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516142244"], "X-Ratelimit-Reset-Ttl":["3484"], "X-Strategy-Tasks-Queued":["1"], "X-Strategy-Tasks-Queue-Limit":["1000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjE4YmIyMDA4YmJiYmQwNzExMDcxMDNiYWE3MDk4MzAyMjkzODU3\nZGUifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:39:22 GMT"}],"recorded_with":"VCR 3.0.3"}