{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["05ba48b12e58904686659ba61d33bd8a"], "X-Ratelimit-Limit":["50000"], "X-Ratelimit-Remaining":["49900"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516108315"], "X-Ratelimit-Reset-Ttl":["3535"], "X-Analysis-Tasks-Queued":["2"], "X-Analysis-Tasks-Queue-Limit":["15000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjQwN2U1OTMzMTQ3ODE3ZjE3YzU0YWRkNzE1MzVhN2FkMDQ5YWE0\nYWQifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:13:01 GMT"}],"recorded_with":"VCR 3.0.3"}