{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["84ec0ef54c43107c43e00f941f507fc1"], "X-Ratelimit-Limit":["40000"], "X-Ratelimit-Remaining":["39825"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516142244"], "X-Ratelimit-Reset-Ttl":["2390"], "X-Analysis-Tasks-Queued":["2"], "X-Analysis-Tasks-Queue-Limit":["1000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImJhZTIxZjc5YjQ1YjM0YTQ0OTk0ODBmNjFjZWQ4YmI1NTE1NGVi\nMDAifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:57:35 GMT"}],"recorded_with":"VCR 3.0.3"}