{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.6/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["c7b2f2bf7e095623acf59ad4b7ad9cb6"], "X-Ratelimit-Limit":["40000"], "X-Ratelimit-Remaining":["39925"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516142244"], "X-Ratelimit-Reset-Ttl":["3487"], "X-Analysis-Tasks-Queued":["1"], "X-Analysis-Tasks-Queue-Limit":["1000"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjY4MDhiN2I1YjlmY2I1OTI4NmMxMGQwN2E3NTA5MzNhZjBiNTJl\nNmEifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:39:19 GMT"}],"recorded_with":"VCR 3.0.3"}