{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1/historics/delete?id=ca9e1dabc7858560a32c","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9248"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Wed, 06 May 2015 10:17:21 GMT"}],"recorded_with":"VCR 2.9.3"}