{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/balance","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8875"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1970"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:47 GMT"}],"recorded_with":"VCR 2.9.3"}