{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1/balance","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9536"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Wed, 06 May 2015 11:33:29 GMT"}],"recorded_with":"VCR 2.9.3"}