{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9751"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431697682"], "X-Ratelimit-Reset-Ttl":["1879"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlVuYWJsZSB0byBnZXQgRFBVIFs0MDBdIiwib3JpZ2luYWxf\nZXJyb3IiOiJVbmFibGUgdG8gZ2V0IERQVSBbNDAwXSJ9\n"},"http_version":null},"recorded_at":"Fri, 15 May 2015 13:16:45 GMT"}],"recorded_with":"VCR 2.9.3"}