{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9874"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["3294"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlVuYWJsZSB0byBnZXQgRFBVIFs0MDBdIiwib3JpZ2luYWxf\nZXJyb3IiOiJVbmFibGUgdG8gZ2V0IERQVSBbNDAwXSJ9\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 10:59:29 GMT"}],"recorded_with":"VCR 2.9.3"}