{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8912"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1972"]},"body":{"encoding":"UTF-8","base64_string":"eyJkcHUiOjAuMSwiZGV0YWlsIjp7ImNvbnRhaW5zIjp7ImNvdW50IjoxLCJk\ncHUiOjAuMSwidGFyZ2V0cyI6eyJpbnRlcmFjdGlvbi5jb250ZW50Ijp7ImNv\ndW50IjoxLCJkcHUiOjAuMX19fX19\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:44 GMT"}],"recorded_with":"VCR 2.9.3"}