{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9627"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1435765382"], "X-Ratelimit-Reset-Ttl":["409"]},"body":{"encoding":"UTF-8","base64_string":"eyJkcHUiOjAuNCwiZGV0YWlsIjp7fX0=\n"},"http_version":null},"recorded_at":"Wed, 01 Jul 2015 15:36:14 GMT"}],"recorded_with":"VCR 2.9.3"}