{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9601"], "X-Ratelimit-Cost":["5"]},"body":{"encoding":"UTF-8","base64_string":"eyJkcHUiOjAuNCwiZGV0YWlsIjp7fX0=\n"},"http_version":null},"recorded_at":"Wed, 06 May 2015 11:33:28 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9811"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431697682"], "X-Ratelimit-Reset-Ttl":["1879"]},"body":{"encoding":"UTF-8","base64_string":"eyJkcHUiOjAuNCwiZGV0YWlsIjp7fX0=\n"},"http_version":null},"recorded_at":"Fri, 15 May 2015 13:16:44 GMT"}],"recorded_with":"VCR 2.9.3"}