{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/usage","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9721"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1431697682"], "X-Ratelimit-Reset-Ttl":["1878"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGFydCI6IkZyaSwgMTUgTWF5IDIwMTUgMTI6MTU6MDAgKzAwMDAiLCJl\nbmQiOiJGcmksIDE1IE1heSAyMDE1IDEzOjE1OjAwICswMDAwIiwic3RyZWFt\ncyI6e319\n"},"http_version":null},"recorded_at":"Fri, 15 May 2015 13:16:45 GMT"}],"recorded_with":"VCR 2.9.3"}