{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1/validate","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9139"], "X-Ratelimit-Cost":["5"]},"body":{"encoding":"UTF-8","base64_string":"eyJjcmVhdGVkX2F0IjoiMjAxNS0wMy0wNSAxMzoxNjozMCIsImRwdSI6IjAu\nMSJ9\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 13:16:33 GMT"}],"recorded_with":"VCR 2.9.3"}