{"http_interactions":[{"request":{"method":"put","uri":"http://api.datasift.com/v1/pylon/stop","body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMDg2Y2NhOWE2OWU2OTUyMTRhODdkYjY1MzVkMTQzYTYifQ==\n"},"headers":{"Authorization":["choult:eed85f6b316fb18930ee28e8754f4963"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99270"], "X-Ratelimit-Cost":["5"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 16:07:09 GMT"}],"recorded_with":"VCR 2.9.3"}