{"http_interactions":[{"request":{"method":"post","uri":"http://api.datasift.com/v1/pylon/compile","body":{"encoding":"UTF-8","base64_string":"eyJjc2RsIjoiaW50ZXJhY3Rpb24uY29udGVudCBjb250YWlucyBcInJ1Ynlc\nIiJ9\n"},"headers":{"Authorization":["choult:eed85f6b316fb18930ee28e8754f4963"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99390"], "X-Ratelimit-Cost":["5"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMTQyNTU3MTYxOSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 16:07:02 GMT"},{"request":{"method":"put","uri":"http://api.datasift.com/v1/pylon/start","body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJu\nYW1lIjoicnVieS1saWItdGVzdCJ9\n"},"headers":{"Authorization":["choult:eed85f6b316fb18930ee28e8754f4963"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99365"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 16:07:03 GMT"}],"recorded_with":"VCR 2.9.3"}