{"http_interactions":[{"request":{"method":"get","uri":"http://api.datasift.com/v1/pylon/tags?hash=086cca9a69e695214a87db6535d143a6","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["choult:eed85f6b316fb18930ee28e8754f4963"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99275"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 16:07:09 GMT"}],"recorded_with":"VCR 2.9.3"}