{"http_interactions":[{"request":{"method":"post","uri":"http://api.datasift.com/v1/pylon/validate","body":{"encoding":"UTF-8","base64_string":"eyJjc2RsIjoiaW50ZXJhY3Rpb24uY29udGVudCBjb250YWlucyBcInJ1Ynlc\nIiJ9\n"},"headers":{"Authorization":["choult:eed85f6b316fb18930ee28e8754f4963"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99070"], "X-Ratelimit-Cost":["5"]},"body":{"encoding":"UTF-8","base64_string":"eyJjcmVhdGVkX2F0IjoiMTQyNTU3MTYzNSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 16:07:18 GMT"}],"recorded_with":"VCR 2.9.3"}