{"http_interactions":[{"request":{"method":"put","uri":"http://api.datasift.com/v1/pylon/start","body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiY2ExNzhlNDQ2ODQ4MDMxM2E4ZGM1MjRiMDMyZjY3ZDkiLCJu\nYW1lIjoiIn0=\n"},"headers":{"Authorization":["choult:eed85f6b316fb18930ee28e8754f4963"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99395"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik1pc3NpbmcgcGFyYW0gJ25hbWUnIn0=\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 16:07:01 GMT"}],"recorded_with":"VCR 2.9.3"}