{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/balance","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["5319c4aed0834c62d081915d465a5250"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97625"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["2244"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:38:38 GMT"}],"recorded_with":"VCR 3.0.3"}