{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/account/identity/8d5d8627dd43b5bce2de18ceb5714d56","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["5553852b92257b0d0ef493e8eb28d8c5"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98640"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3116"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:29:27 GMT"}],"recorded_with":"VCR 3.0.3"}