{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/account/identity/fedacf3964a348cc8074d7ef4bb1330a","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["8f6843794de1ff5ac77e0caacec4b54f"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["95080"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["1467"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:56:56 GMT"},{"request":{"method":"delete","uri":"https://api.datasift.com/v1.6/account/identity/0942d83b3b9efb1a1d03c11c2412c5b7","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["9223cdb699374fb2f2da0a27175a62b8"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["95060"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["1464"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkRlbGV0aW9uIG9mIElkZW50aXRpZXMgaXMgY3VycmVudGx5\nIHVuYXZhaWxhYmxlIn0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:56:59 GMT"}],"recorded_with":"VCR 3.0.3"}