{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/account/identity?label=minitest&page=1&per_page=1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["68a5a1245c852947b140d3b4ae65f375"], "X-Ratelimit-Limit":["1000000"], "X-Ratelimit-Remaining":["999945"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516105936"], "X-Ratelimit-Reset-Ttl":["3575"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJjb3VudCI6MCwicGFnZSI6MSwicGFnZXMiOjAsInBlcl9wYWdlIjoxLCJp\nZGVudGl0aWVzIjpbXX0=\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 11:32:42 GMT"}],"recorded_with":"VCR 3.0.3"}