{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1.6/account/identity/fake_id","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["1641e94b1d4b9a98737afb73dfcc20cf"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98655"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3119"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IklkZW50aXR5IG5vdCBmb3VuZCJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:29:24 GMT"}],"recorded_with":"VCR 3.0.3"}