{"http_interactions":[{"request":{"method":"post","uri":"https://in.datasift.com/b8d45cd543d744ba8e091cf24b101c2a","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Ingestion-Data-Ratelimit-Reset":["60"], "X-Ingestion-Request-Ratelimit-Limit":["10000"], "X-Ingestion-Request-Ratelimit-Reset":["59"], "X-Ingestion-Data-Ratelimit-Remaining":["99972754"], "X-Ingestion-Request-Ratelimit-Reset-Ttl":["1516105776"], "X-Ingestion-Data-Ratelimit-Reset-Ttl":["1516105777"], "X-Ingestion-Data-Ratelimit-Limit":["100000000"], "X-Ingestion-Request-Ratelimit-Remaining":["9998"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJhY2NlcHRlZCI6MTAsInRvdGFsX21lc3NhZ2VfYnl0ZXMiOjI3MjQ2fQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 12:28:38 GMT"}],"recorded_with":"VCR 3.0.3"}