{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/balance","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["3a9146ef33ccefea4447e64eeef35994"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97505"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["2230"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:38:52 GMT"}],"recorded_with":"VCR 3.0.3"}