{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["e9cb9c31012913bf292595f4028e8097"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97475"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["2229"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlVuYWJsZSB0byBnZXQgRFBVIFs0MDBdIiwib3JpZ2luYWxf\nZXJyb3IiOiJVbmFibGUgdG8gZ2V0IERQVSBbNDAwXSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:38:53 GMT"}],"recorded_with":"VCR 3.0.3"}