{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/dpu","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["dac91ad997de5256ff68f319f205a643"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97480"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["2229"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJkcHUiOjAuMSwiZGV0YWlsIjp7ImNvbnRhaW5zIjp7ImNvdW50IjoxLCJk\ncHUiOjAuMSwidGFyZ2V0cyI6eyJpbnRlcmFjdGlvbi5jb250ZW50Ijp7ImNv\ndW50IjoxLCJkcHUiOjAuMX19fX19\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:38:53 GMT"}],"recorded_with":"VCR 3.0.3"}