{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.6/account/usage?end=1490572800&period=invalid_period&start=1490054400","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.6"], "X-Datasift-Request-Id":["1ec6095da5e49278948c8372c3f6cd52"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98760"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3259"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6InBlcmlvZCBpcyBpbnZhbGlkOyB2YWxpZCB2YWx1ZXMgYXJl\nOiBob3VybHksZGFpbHksbW9udGhseSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:27:04 GMT"}],"recorded_with":"VCR 3.0.3"}