{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/pylon/linkedin/task","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["8e01fa0c24a684a3686907ae31175e04"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IllvdSBtdXN0IHVzZSBhbiBhY2NvdW50IGlkZW50aXR5IHRv\nIGFjY2VzcyB0aGlzIGVuZHBvaW50In0=\n"},"http_version":null},"recorded_at":"Wed, 17 May 2017 14:18:43 GMT"}],"recorded_with":"VCR 2.9.3"}