{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.4/pylon/linkedin/task/analysis","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["2bc40c45eaa08e218abb0cb328a879a0"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IllvdSBtdXN0IHVzZSBhbiBhY2NvdW50IGlkZW50aXR5IHRv\nIGFjY2VzcyB0aGlzIGVuZHBvaW50In0=\n"},"http_version":null},"recorded_at":"Wed, 17 May 2017 14:16:49 GMT"}],"recorded_with":"VCR 2.9.3"}