{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.2/account/usage?period=invalid_period","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9579"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["3279"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6InBlcmlvZCBpcyBpbnZhbGlkOyB2YWxpZCB2YWx1ZXMgYXJl\nOiBob3VybHksZGFpbHksbW9udGhseSJ9\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 10:59:44 GMT"}],"recorded_with":"VCR 2.9.3"}