{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.5/historics/delete?id=fd26147cff4ee4a4e66e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["bf240a8b074d6db5fba41908e913626f"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98703"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3371"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljcyBmb3VuZCB3aXRoIHRoZSBJRCBmZDI2\nMTQ3Y2ZmNGVlNGE0ZTY2ZSAifQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:02:35 GMT"}],"recorded_with":"VCR 3.0.3"}