{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["f0b2dde6f0e3b28a867d8c3d64061f36"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98803"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3385"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxNTowMjoyMCIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:02:21 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["a71cc1d4e78bd5f66729dc88a67b8934"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98778"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3384"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImZkMjYxNDdjZmY0ZWU0YTRlNjZlIiwiZHB1cyI6bnVsbCwiYXZh\naWxhYmlsaXR5Ijp7InN0YXJ0IjoxNDc3OTU4NDAwLCJlbmQiOjE0NzgwNDQ4\nMDAsInNvdXJjZXMiOltdfX0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:02:34 GMT"}],"recorded_with":"VCR 3.0.3"}