{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["27a3ca1fcd4dabbce9c0b0d723010f08"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99084"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3419"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxNTowMTo0NiIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:01:47 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["bbb7aa0caffa212ae2f1b7f4a206fc20"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99059"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3418"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjMwZDYxOTM3Mjg1NmYwMzk1MzE1IiwiZHB1cyI6bnVsbCwiYXZh\naWxhYmlsaXR5Ijp7InN0YXJ0IjoxNDc3OTU4NDAwLCJlbmQiOjE0NzgwNDQ4\nMDAsInNvdXJjZXMiOltdfX0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:01:55 GMT"}],"recorded_with":"VCR 3.0.3"}