{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["0eff0ace3c4ad62eb6b01f99e41e851f"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99004"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3410"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxNTowMTo1NSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:01:56 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/historics/prepare","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["a2738233940cf383d6522eee541f4d0e"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98979"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3410"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjI2NWJhZTE1Mjc3ZTAzMjdmMDg3IiwiZHB1cyI6bnVsbCwiYXZh\naWxhYmlsaXR5Ijp7InN0YXJ0IjoxNDc3OTU4NDAwLCJlbmQiOjE0NzgwNDQ4\nMDAsInNvdXJjZXMiOltdfX0=\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:02:09 GMT"}],"recorded_with":"VCR 3.0.3"}