{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.5/historics/delete?id=fd26147cff4ee4a4e66e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["018424d67c15d456ea8755daa8b9e776"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98753"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3371"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:02:35 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.5/historics/get?id=fd26147cff4ee4a4e66e&with_estimate=1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["2045509d1f8f1b2c2f92bef11c0b31ac"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98728"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495209525"], "X-Ratelimit-Reset-Ttl":["3371"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Ik5vIGhpc3RvcmljIGZvdW5kIHdpdGggdGhlIElEIGZkMjYx\nNDdjZmY0ZWU0YTRlNjZlICJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 15:02:35 GMT"}],"recorded_with":"VCR 3.0.3"}