{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["ca1fbd17bc74cb98b1aaff00b797b5a5"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97345"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["1224"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxMzo1NTozOCIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:55:38 GMT"}],"recorded_with":"VCR 3.0.3"}