{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["ed73ca9aeb46d526a504fee5ddab4acb"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97380"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["1225"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxMzo1NTozNyIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:55:37 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.5/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.5"], "X-Datasift-Request-Id":["91546a846bf336b6811a515db0b5b841"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97355"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["1224"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImYyMzg1OThkMTc2YjQ4OTM1ZWM3MWYwY2FjN2NlNjFjNDUxYjAx\nMzEiLCJjcmVhdGVkX2F0IjoxNDk1MjAyMTM4fQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:55:38 GMT"}],"recorded_with":"VCR 3.0.3"}