{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9824"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["3292"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxNS0xMS0xMiAxMDo1OTozMSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 10:59:31 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9799"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["3292"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjZkNDIyMDAwODMzZjcyN2I4MjE5OWYwZTcwOTM0MGRiMjk3Y2Y3\nNzgiLCJjcmVhdGVkX2F0IjoxNDQ3MzI1OTcyfQ==\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 10:59:31 GMT"}],"recorded_with":"VCR 2.9.3"}