{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8832"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1965"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxNS0wNS0xNCAxNTowNTo1MSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:51 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8807"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1965"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImMxOWE5ZWFiZjA4MDA4M2UxNmZkNjhmMDNjZGI0NDg5ODhmZGFj\nODUiLCJjcmVhdGVkX2F0IjoxNDMxNjE1OTUxfQ==\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:52 GMT"},[...]
{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9557"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1435765382"], "X-Ratelimit-Reset-Ttl":["366"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImE1NjdjODM4MDgxYTJkZDEwZjJmYWY1Yzg2NjZjNzI4ODA3OGY1\nOTYiLCJjcmVhdGVkX2F0IjoxNDM1NzY1MDE3fQ==\n"},"http_version":null},"recorded_at":"Wed, 01 Jul 2015 15:36:58 GMT"}],"recorded_with":"VCR 2.9.3"}