{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.2/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.2"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["9764"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1447329263"], "X-Ratelimit-Reset-Ttl":["3291"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU4NWE3ZWIxYTJmZTg3MTViMGExZGI3MWM5MWVhZWE4NTMxNGU1\nMDIiLCJjcmVhdGVkX2F0IjoxNDQ3MzI1OTcyfQ==\n"},"http_version":null},"recorded_at":"Thu, 12 Nov 2015 10:59:32 GMT"}],"recorded_with":"VCR 2.9.3"}