{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8994"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjYwYjc5MDlhMjljYmNiZDE3MTY4OGI4MGYyYWMzMmY1ZWNiNDZk\nMzYiLCJjcmVhdGVkX2F0IjoxNDI1NTYxMzk1fQ==\n"},"http_version":null},"recorded_at":"Thu, 05 Mar 2015 13:16:37 GMT"}],"recorded_with":"VCR 2.9.3"}