{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.1/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.1"], "X-Ratelimit-Limit":["10000"], "X-Ratelimit-Remaining":["8963"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1431617916"], "X-Ratelimit-Reset-Ttl":["1982"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImIwMzExZGQ3NTQzMDMwZWMzYjkyODcyOWU2MjYwYWY1MTEyZDJj\nOWUiLCJjcmVhdGVkX2F0IjoxNDMxNjE1OTM0fQ==\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 15:05:35 GMT"}],"recorded_with":"VCR 2.9.3"}