{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/compile","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["d76ce6318a7246cb0885c0496c0fa17e"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97415"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["1231"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiZTJhMDczZGE3NGEwMWNjZjViYTk3Y2FlMTQ4ZTY0NTciLCJj\ncmVhdGVkX2F0IjoiMjAxNy0wNS0xOSAxMzo1NTozMSIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:55:31 GMT"},{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["c7acb3df8900100289e3b3a662864c2a"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97390"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["1231"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjJkZTMxOGNiZTRkOWRjMWU2ZmRiZmQxODY5YjFjMDNkY2Q3NmM2\nMDEiLCJjcmVhdGVkX2F0IjoxNDk1MjAyMTMyfQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:55:31 GMT"}],"recorded_with":"VCR 3.0.3"}