{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/preview/create","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["197b4c69f64d4a70f6d3e0360b953fd8"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97420"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["1232"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6ImVjNmJiZjE5ZTkxODE3MWU3ZmI3MTJlMTFjMjUwNGE0YjkwYTIw\nMTYiLCJjcmVhdGVkX2F0IjoxNDk1MjAyMTMxfQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:55:31 GMT"}],"recorded_with":"VCR 3.0.3"}