{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.4/account/usage?period=invalid_period","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["7afd4dc88b900f243fe9855fe5fe0848"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99925"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3585"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6InBlcmlvZCBpcyBpbnZhbGlkOyB2YWxpZCB2YWx1ZXMgYXJl\nOiBob3VybHksZGFpbHksbW9udGhseSJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:16:17 GMT"}],"recorded_with":"VCR 3.0.3"}