{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1.4/account/usage?end=1490572800&period=invalid_period&start=1490054400","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["c53bd378c9f8b96c64b89e6b2321aa55"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["98660"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1516141283"], "X-Ratelimit-Reset-Ttl":["3217"], "X-Balanced-By":["sft252"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6InBlcmlvZCBpcyBpbnZhbGlkOyB2YWxpZCB2YWx1ZXMgYXJl\nOiBob3VybHksZGFpbHksbW9udGhseSJ9\n"},"http_version":null},"recorded_at":"Tue, 16 Jan 2018 21:27:46 GMT"}],"recorded_with":"VCR 3.0.3"}