{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1/analysis/tags?hash=e0bdd3a7d9313640198765de8b953a6e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["username:datasift_api_key"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":500,"message":"Internal Server Error"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97625"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkNvdWxkIG5vdCBpbnRlcnByZXQgcmVzdWx0cyBmcm9tIFN1\nYnNjcmlwdGlvbiBzZXJ2aWNlOiBTeW50YXggZXJyb3IsIG1hbGZvcm1lZCBK\nU09OIn0=\n"},"http_version":null},"recorded_at":"Wed, 11 Feb 2015 12:05:20 GMT"}],"recorded_with":"VCR 2.9.3"}