{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1/analysis/validate","body":{"encoding":"UTF-8","base64_string":"eyJjc2RsIjoiaW50ZXJhY3Rpb24uY29udGVudCBjb250YWlucyBcInRlc3Rc\nIiJ9\n"},"headers":{"Authorization":["username:datasift_api_key"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97975"], "X-Ratelimit-Cost":["5"]},"body":{"encoding":"UTF-8","base64_string":"eyJjcmVhdGVkX2F0IjoiMTQyMzY1NjMwMyIsImRwdSI6IjAuMSJ9\n"},"http_version":null},"recorded_at":"Wed, 11 Feb 2015 12:05:03 GMT"}],"recorded_with":"VCR 2.9.3"}