{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1/analysis/start","body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiMTQ1ZWEyNGE0ZDgzYTE0ZWNiOTA3N2I4MzFmMTQ4MDkiLCJu\nYW1lIjoicnVieS1saWItdGVzdCJ9\n"},"headers":{"Authorization":["username:datasift_api_key"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97935"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Wed, 11 Feb 2015 12:05:05 GMT"}],"recorded_with":"VCR 2.9.3"}