{"http_interactions":[{"request":{"method":"get","uri":"https://api.datasift.com/v1/analysis/get?hash=abc_invalid_hash_123","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["username:datasift_api_key"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97820"], "X-Ratelimit-Cost":["25"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlN1YnNjcmlwdGlvbiBub3QgZm91bmQifQ==\n"},"http_version":null},"recorded_at":"Wed, 11 Feb 2015 12:05:09 GMT"}],"recorded_with":"VCR 2.9.3"}