{"http_interactions":[{"request":{"method":"put","uri":"https://api.datasift.com/v1/analysis/stop","body":{"encoding":"UTF-8","base64_string":"eyJoYXNoIjoiYWJjX2ludmFsaWRfaGFzaF8xMjMifQ==\n"},"headers":{"Authorization":["username:datasift_api_key"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["97530"], "X-Ratelimit-Cost":["5"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6Imhhc2ggbXVzdCBiZSBhIHZhbGlkIGhhc2gifQ==\n"},"http_version":null},"recorded_at":"Wed, 11 Feb 2015 12:05:23 GMT"}],"recorded_with":"VCR 2.9.3"}