{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/source/delete?id=e008d443041d4de2a067bca2d8a9e593","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["24b92c015b98ca0152ff6bf6b79bf19b"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99150"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3216"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IlNvdXJjZSBpbnN0YW5jZSBub3QgZm91bmQifQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:22:26 GMT"}],"recorded_with":"VCR 3.0.3"}