{"http_interactions":[{"request":{"method":"post","uri":"https://api.datasift.com/v1.4/source/log","body":{"encoding":"UTF-8","base64_string":"PEJBU0U2NF9TVFJJTkc+\n"},"headers":{"Authorization":["<USERNAME:API_KEY>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["a6a3adbcc498f23595b6ecae340c8750"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99065"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3215"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJjb3VudCI6MCwicGFnZSI6MSwicGFnZXMiOjAsInBlcl9wYWdlIjoyMCwi\nbG9nX2VudHJpZXMiOltdfQ==\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:22:27 GMT"}],"recorded_with":"VCR 3.0.3"}