{"http_interactions":[{"request":{"method":"delete","uri":"https://api.datasift.com/v1.4/source/delete?id=e008d443041d4de2a067bca2d8a9e593","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["4b9e568f962fb991f105e5449a32dad7"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99180"], "X-Ratelimit-Cost":["25"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3216"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:22:26 GMT"},{"request":{"method":"get","uri":"https://api.datasift.com/v1.4/source/get?id=e008d443041d4de2a067bca2d8a9e593&page=1&per_page=20","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<USERNAME:API_KEY>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "X-Api-Version":["1.4"], "X-Datasift-Request-Id":["0ad4ae365a04c6dd7051642d665db0e2"], "X-Ratelimit-Limit":["100000"], "X-Ratelimit-Remaining":["99175"], "X-Ratelimit-Cost":["5"], "X-Ratelimit-Reset":["1495203362"], "X-Ratelimit-Reset-Ttl":["3216"], "X-Balanced-By":["sft222"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6IkNvdWxkIG5vdCBmaW5kIHRoZSBzcGVjaWZpZWQgc291cmNl\nIGluc3RhbmNlIFwiZTAwOGQ0NDMwNDFkNGRlMmEwNjdiY2EyZDhhOWU1OTNc\nIiJ9\n"},"http_version":null},"recorded_at":"Fri, 19 May 2017 13:22:26 GMT"}],"recorded_with":"VCR 3.0.3"}